.page {
    background-color: slategray;
    min-height: 100vh;
}

.credits {
    display: grid;
    grid-template-columns: 1fr;
}

.section {
    padding: 2em;
    background-color: white;
    margin: 3em;
    display: grid;
    grid-template-columns: 1fr 1fr;

    p {
        padding-top: 1em;
    }

    a {
        color: blue;
        text-decoration: underline;
    }
}

.title {
    color: white;

    padding: 1em 0 0 2.5em;
}