.day_card {
    background-color: white;
    height: 200px;
    border: 1px lightgray solid;
    text-align: center;
    overflow: auto;


    .day_number {
        color: rgb(107, 107, 107);
        margin: 1em;
        display: inline-block;
    }

    .day_number_container {
        padding-top: .4em;
        padding-bottom: .5em;
        border-radius: 100%;
    }
}