.container {
    display: grid;
    grid-template-columns: 99% 1%;
    padding: 2rem;

    background-color: black;
}

.header {
    margin-right: 2em;
}

.link {
    display: inline-block;
    color: white;
}

.link:hover {
    color: lightgray;
}